<div class="form-container">
  <div class="modal-header bg-light">
    <h4 class="modal-title">Add Collaborator</h5>
  </div>
  <div class="list-group">

      <% @users.each do |user| %>
        <% if user != current_user %>
          <div class: 'list-group-item flex-column align-items-start'>
             <h5><%= user.name %></h5>
             <%= button_to "Add", "/wikis/#{@wiki.id}/user/#{user.id}", :action => "wikis#add_collaborator", class: "btn btn-sm, btn-success"%>
           </div>
         <% end %>
      <% end %>

  </div>
</div>
